---
import MainLayout from '../../layouts/MainLayout.astro';
import Navbar from '../../components/Navbar.astro';
import CustomFooter from '../../components/CustomFooter.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---

<MainLayout title="Blog | Iasi Salomon">
	<Navbar />
	
	<section class="py-5 mt-5">
		<div class="container">
			<h1 class="text-center mb-5">Blog</h1>
			
			<div class="row g-4">
				{
					posts.map((post) => (
						<div class="col-md-4 mb-4">
							<div class="card h-100">
								<div class="card-body">
									<h2 class="card-title h5">
										<a href={`/blog/${post.slug}/`} class="text-decoration-none text-dark">
											{post.data.title}
										</a>
									</h2>
									<p class="text-muted small">
										{post.data.pubDate ? post.data.pubDate.toLocaleDateString('en-us', {
											year: 'numeric',
											month: 'long',
											day: 'numeric',
										}) : 'No date available'}
									</p>
									<p class="card-text">{post.data.description}</p>
									<a href={`/blog/${post.slug}/`} class="btn btn-primary">Read More</a>
								</div>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</section>
	
	<CustomFooter />
</MainLayout>
